fn-clojure/prime-factors-java/.m2/
fn-clojure/prime-factors-java/target/
fn-clojure/prime-factos-clojure/.m2/
fn-clojure/prime-factos-clojure/.cpcache/
fn-clojure/bowling-java/.m2/
fn-clojure/bowling-java/target/

# pyc
**/*.pyc
**/.DS_Store